asgiref==3.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Deprecated==1.2.13
Django==4.1.7
django-bootstrap4==23.1
django-cors-headers==3.14.0
django-filter==23.1
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
idna==3.4
jwcrypto==1.4.2
Markdown==3.4.3
oauthlib==3.2.2
Pillow==9.5.0
pycparser==2.21
PyJWT==2.6.0
pytz==2023.3
requests==2.29.0
soupsieve==2.4.1
sqlparse==0.4.3
urllib3==1.26.15
wrapt==1.15.0
